@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code&display=swap");
@import "mana-font/css/mana.css";
@font-face {
  font-family: "Atlassian Sans";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../public/fonts/atlassian/atlassian-sans.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../public/fonts/pretendard/pretendard-variable.woff2")
    format("woff2");
}
@font-face {
  font-family: "Open Dyslexic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/opendyslexic/opendyslexic-latin-400-normal.woff2")
    format("woff2");
}
@font-face {
  font-family: "Open Dyslexic Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../public/fonts/opendyslexic/opendyslexic-latin-700-normal.woff")
    format("woff2");
}
@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/berkeley/berkeley_mono.woff2") format("woff2");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/geist/geist-mono-variable.woff2") format("woff2");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}
@font-face {
  font-family: "Beleren Bold";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../public/fonts/beleren/beleren-bold.ttf") format("TrueType");
}
@font-face {
  font-family: "Beleren Caps";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../public/fonts/beleren/beleren-small-caps.ttf") format("TrueType");
}
